.hide{
  display: none;
}
.car, .enemy{
  width: 50px;
  height: 100px;
  background: transparent url('./image/player.png') center / cover no-repeat;
  position: absolute;
  left: 125px;
  bottom: 10px;
}
.gameArea{
  width: 300px;
  height: 100%;
  position: relative;
  margin: auto;
  background: #222;
  overflow: hidden;
}
.line{
  position: absolute;
  width: 10px;
  height: 50px;
  background: white;
  left: 145px;
}